.buttons-section{
  width: 100%;
  align-self: right;
  margin-bottom: 20px;
  margin-top: 5px;
  position: relative;
}

.template-button {
  width: 50px;
  height: 50px;
}

.left-col { 
  float: left;
  width: 50%;
}

.right-col {
  float: right;
  width: 50%;
}

